<link rel="stylesheet" href="/css/face.css" />

<header>Face recognition in the browser</header>
<div class="container">
  <video id="video" height="500" width="500" autoplay muted></video>
</div>
<div class="result-container">
  <!-- <div id="emotion">Emotion</div>
  <div id="gender">Gender</div> -->
  <div id="age">Age</div>
  <img id="res" />
</div>
<script src="/js/face-api.min.js"></script>
<script src="/js/main.js"></script>
