<br />
<br />
<div style="margin-left: 10%">
  <h3>Forget password ?</h3>
  <form action="/users/set_new_password" method="POST">
    <label
      style="
        text-decoration: none;
        color: rgb(7, 7, 7);
        font-size: medium;
        font-weight: 1000;
      "
      for="Email"
      >Email</label
    >
    <br />
    <br />
    <input
      type="text"
      style="width: 25%"
      placeholder=" Enter the email"
      name="email"
    />
    <br />
    <br />
    <label
      style="
        text-decoration: none;
        color: rgb(7, 7, 7);
        font-size: medium;
        font-weight: 1000;
      "
      for="new_password"
      >New Password</label
    >
    <br />
    <br />
    <input
      type="text"
      style="width: 25%"
      placeholder=" Enter the Password"
      name="new_password"
    />
    <br />
    <br />
    <label
      style="
        text-decoration: none;
        color: rgb(7, 7, 7);
        font-size: medium;
        font-weight: 1000;
      "
      for="Confirm_password"
      >Confirm Password</label
    >
    <br />
    <br />
    <input
      type="text"
      style="width: 25%"
      placeholder=" Enter the Password again"
      name="Confirm_password"
    />
    <br />
    <br />
    <button
      style="color: black; font-family: 'Courier New', Courier, monospace"
    >
      Submit
    </button>
  </form>
</div>
