<!-- <h1>sign in</h1>
<form action="/users/create-session" method="POST">
  <input type="email" name="email" placeholder="Email " required />
  <input type="password" name="password" placeholder="Password " required />
  <input type="submit" value="Sign In" />
</form> -->
<div id="signin">
  <link rel="stylesheet" href="/css/signin.css" />
  <img
    style="
      width: 20%;
      margin: auto;
      margin-right: 2%;
      margin-left: 14%;
      padding: 3%;
    "
    src="../uploads/images/logo.jpg"
  />
  <div class="screen-1" style="margin: auto; margin-left: 1%; width: 25%">
    <form
      action="/users/create-session"
      method="POST"
      id="theForms"
      style="margin-top: 35%"
    >
      <div class="email">
        <label
          style="
            text-decoration: none;
            color: rgb(7, 7, 7);
            font-size: medium;
            font-weight: 1000;
          "
          for="email"
          >Email Address</label
        >
        <div class="sec-2">
          <ion-icon name="mail-outline"></ion-icon>
          <input
            type="email"
            name="email"
            id="ems"
            placeholder="Username@gmail.com"
            required
          />
        </div>
      </div>
      <div class="password">
        <label
          style="
            text-decoration: none;
            color: rgb(7, 7, 7);
            font-size: medium;
            font-weight: 1000;
          "
          for="password"
          >Password</label
        >
        <div class="sec-2">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input
            class="pas"
            type="password"
            id="passs"
            name="password"
            placeholder="············"
            required
          />
          <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
      </div>
      <button class="login" type="submit" style="color: #ffffff">Login</button>
      <button class="login" style="color: #f5f0f0; background-color: #fd0a0a">
        <a
          style="text-decoration: none; color: rgb(255, 255, 255)"
          href="/users/auth/google"
          >Google Sign In/Sign Up</a
        >
      </button>

      <button
        class="login"
        type="button"
        style="color: #f5f0f0; background-color: #134001"
        onclick="authenticateUser()"
        title="Authenticate a previously enrolled user on this application"
      >
        <a style="text-decoration: none; color: rgb(255, 255, 255)">
          Authenticate User Using Face</a
        >
      </button>
    </form>
    <div class="footer">
      <span
        ><a
          style="
            text-decoration: none;
            color: rgb(10, 10, 10);
            font-size: medium;
            font-weight: 1000;
          "
          href="./sign-up"
        >
          Sign up</a
        ></span
      ><span style="font-size: medium; font-weight: 1000"
        ><a
          style="
            text-decoration: none;
            color: rgb(10, 10, 10);
            font-size: medium;
            font-weight: 1000;
          "
          href="./forget_password"
        >
          Forget Password ?</a
        ></span
      >
    </div>
  </div>

  <!-- //we are using post methd bcz we are sending data to server -->
</div>
<div id="faceio-modal"></div>
<script src="https://cdn.faceio.net/fio.js"></script>
<script type="text/javascript">
  const faceio = new faceIO("fioaba8a"); // Replace with your application Public ID
  function authenticateUser() {
    // Start the facial authentication process (Identify a previously enrolled user)
    faceio
      .authenticate({
        locale: "auto", // Default user locale
      })
      .then((userData) => {
        $("#ems").val(userData.payload.email);
        $("#passs").val(userData.payload.pass);
        console.log(userData.payload);
        alert(
          `Success, user recognized:
                Unique Facial ID: ${userData.facialId}
                Payload: ${userData.payload}`
        );

        // {"whoami": 123456, "email": "john.doe@example.com"} set via enroll()
      })
      .then((userData) => {
        document.getElementById("theForms").submit();
      })
      .catch((errCode) => {
        handleError(errCode);
        window.location.href = "wrong.html";
      });
  }
  function handleError(errCode) {
    switch (errCode) {
      case fioErrCode.PERMISSION_REFUSED:
        console.log("Access to the Camera stream was denied by the end user");
        break;
      case fioErrCode.NO_FACES_DETECTED:
        console.log(
          "No faces were detected during the enroll or authentication process"
        );
        break;
      case fioErrCode.UNRECOGNIZED_FACE:
        console.log("Unrecognized face on this application's Facial Index");
        break;
      case fioErrCode.MANY_FACES:
        console.log("Two or more faces were detected during the scan process");
        break;
      case fioErrCode.PAD_ATTACK:
        console.log(
          "Presentation (Spoof) Attack (PAD) detected during the scan process"
        );
        break;
      case fioErrCode.FACE_MISMATCH:
        console.log(
          "Calculated Facial Vectors of the user being enrolled do not matches"
        );
        break;
      case fioErrCode.WRONG_PIN_CODE:
        console.log("Wrong PIN code supplied by the user being authenticated");
        break;
      case fioErrCode.PROCESSING_ERR:
        console.log("Server side error");
        break;
      case fioErrCode.UNAUTHORIZED:
        console.log(
          "Your application is not allowed to perform the requested operation (eg. Invalid ID, Blocked, Paused, etc.). Refer to the FACEIO Console for additional information"
        );
        break;
      case fioErrCode.TERMS_NOT_ACCEPTED:
        console.log(
          "Terms & Conditions set out by FACEIO/host application rejected by the end user"
        );
        break;
      case fioErrCode.UI_NOT_READY:
        console.log(
          "The FACEIO Widget could not be (or is being) injected onto the client DOM"
        );
        break;
      case fioErrCode.SESSION_EXPIRED:
        console.log(
          "Client session expired. The first promise was already fulfilled but the host application failed to act accordingly"
        );
        break;
      case fioErrCode.TIMEOUT:
        console.log(
          "Ongoing operation timed out (eg, Camera access permission, ToS accept delay, Face not yet detected, Server Reply, etc.)"
        );
        break;
      case fioErrCode.TOO_MANY_REQUESTS:
        console.log(
          "Widget instantiation requests exceeded for freemium applications. Does not apply for upgraded applications"
        );
        break;
      case fioErrCode.EMPTY_ORIGIN:
        console.log(
          "Origin or Referer HTTP request header is empty or missing"
        );
        break;
      case fioErrCode.FORBIDDDEN_ORIGIN:
        console.log("Domain origin is forbidden from instantiating fio.js");
        break;
      case fioErrCode.FORBIDDDEN_COUNTRY:
        console.log(
          "Country ISO-3166-1 Code is forbidden from instantiating fio.js"
        );
        break;
      case fioErrCode.SESSION_IN_PROGRESS:
        console.log(
          "Another authentication or enrollment session is in progress"
        );
        break;
      case fioErrCode.NETWORK_IO:
      default:
        console.log(
          "Error while establishing network connection with the target FACEIO processing node"
        );
        break;
    }
  }
</script>
