/* header {
  background: #42a5f5;
  color: white;
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  font-size: 2rem;
} */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: #2f2f2f;
  width: calc(100%);
}
canvas {
  position: absolute;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.result-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > div {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 5px 0;
    color: white;
    text-transform: capitalize;
  }
}
#age {
  background: #1e94be;
}
#emotion {
  background: #8a1025;
}
#gender {
  background: #62d8a5;
}
#res {
  background-color: aliceblue;
  border-radius: 50%;
}
video {
  width: 100%;
}

.progress-bar2 {
  width: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: white;
}

.progress2 {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  background-color: #e2e2e2;
  border-radius: 40px;
}

.progress2 p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.progress2 .bar2 {
  position: absolute;
  border-radius: 40px;
  height: 100%;
  width: 0%;
  background-color: #304ffe;
}

.progress-bar2 button {
  padding: 10px 15px;
  background-color: #304ffe;
  border: none;
  border-radius: 40px;
  color: white;
  cursor: pointer;
}

.success2 {
  color: green;
  margin-bottom: 10px;
}
