<div>
  <p>Hi User !</p>
  <br />
  <br />
  <h1>Set your password !</h1>
  <p>
    Your account <strong><%= email %></strong> requested for password reset here
    is your link to do so...
    <b> <%= link %></b>
  </p>
  <br />
  <br />
  <p>Thanks!</p>
</div>
<!--make beutifull as much as possible-->
