<div>
  <p>Hi User !</p>
  <br />
  <br />
  <h1>Confirmation Email !</h1>
  <p>
    Your account <strong><%= email %></strong> just got pubished on our website.
    social media site. this is your confirmation email. Enter this code
    <b> <%= num %></b>to continue your sign Up for this site
  </p>
  <br />
  <br />
  <p>Thanks!</p>
</div>
<!--make beutifull as much as possible-->
